<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103048346450-a0m69adn4q1scokaiqn87v509fr46ffj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103048346450-a0m69adn4q1scokaiqn87v509fr46ffj</string>
	<key>API_KEY</key>
	<string>AIzaSyD04mVXshGkqzMec0PtAYapMrFJdw1T8Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>103048346450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ckbusiness.Wishlist</string>
	<key>PROJECT_ID</key>
	<string>wishlist-88d58</string>
	<key>STORAGE_BUCKET</key>
	<string>wishlist-88d58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103048346450:ios:10bdbf27044a3352</string>
	<key>DATABASE_URL</key>
	<string>https://wishlist-88d58.firebaseio.com</string>
</dict>
</plist>